/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

nav ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

/* change colours to suit your needs */
ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

/* change colours to suit your needs */
mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

del {
	text-decoration: line-through;
}

abbr[title],
dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}

input,
select {
	vertical-align: middle;
}

/* My Code Begins*/

* {
	text-decoration: none;
}

body {
	background-color: black;
}

header {
	background-color: white;
	width: 100%;
	height: 100px;
}

header .header-brand {
	font-family: "Oswald", sans-serif;
	font-size: 24px;
	font-weight: 900;
	color: #111;
	text-transform: uppercase;
	display: block;
	text-align: center;
	padding: 20px 0;
}

header nav ul {
	display: block;
	margin: 0 auto;
	width: fit-content;
}

header nav ul li {
	display: inline-block;
	float: left;
	list-style: none;
	padding: 0 16px;
}

header nav ul li a {
	font-family: "Oswald", sans-serif;
	font-size: 16px;
	color: black;
}

header .header-cases {
	display: none;
}

/*INDEX*/

.index-banner {
	width: 100%;
	height: calc(100vh - 100px);
	background-image: url("img/23mood.jpeg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: table;
	
}

.verticle-center {
	display: table-cell;
	verticle-align: middle;
}

.index-banner h2 {
	font-size: 60px;
	font-family: "Oswald", sans-serif;
	text-align: center;
	line-height: 70px;
	color: yellow;
	text-shadow: 2px 2px 8px #111;
}

.index-banner h1 {
	font-size: 20px;
	font-style: italic;
	line-height: 34px;
	font-family: "Encode Sans SC", sans-serif;
	text-align: center;
	color: pink;
	text-shadow: 2px 2px 8px #111;
	line-height: 20px;
	margin-left: 600px;
}

.index-links div {
	margin: 16px.16px 0;
	width: calc(100% - 32px);
	height: 100px;
	background-color: purple;
	position: relative;
	left: 15px;
}

.index-links div h3 {
	font-size: 20px;
	line-height: 100px;
	font-family: "Oswald", sans-serif;
	text-align: center;
	color: white;
	text-shadow: 2px 2px 8px #111;
	text-transform: uppercase;
}

/*Creative Scroll Bar CSS*/

::-webkit-scrollbar {
	width: 25px;
}

::-webkit-scrollbar-track {
	border: 7px solid #2329;
	box-shadow: inset 0 0 2.5px 2px rgba (0,0,0,0.5);	
}

::-webkit-scrollbar-thumb {
	background:linear-gradient(
		45deg,
		purple,
		#79ff6c
	);
	border-radis 3px;
}
